.carousel-caption {
    bottom: 45% !important;
}


/* banner Title for less than 768px or mobile devices */
@media (max-width: 767px) {
    .carousel-caption {
        bottom: 35% !important;
       
    }
    .carousel-caption h3{
        font-size: medium !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 5px !important;
        height: 5px !important;
    }
  }
@media (max-width:  576px) {
    .carousel-caption {
        bottom: 15% !important;
       
    }
    .carousel-caption h3{
        font-size: medium !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 5px !important;
        height: 5px !important;
    }
  }


