:root {
  --primary-bg: #fff;
  --secondary: #ed4225;
  --teritary-color: #01aaa0;
  --text-color: #444;
  --secondary-shades: #eb7249;
}


/* body color */
body {
  background-color: var(--primary-bg);
  
}

/* font family  */
html, body {
  font-family: 'Roboto', sans-serif !important;
}

/* contaniner padding  */
.container {
  padding-top: 60px !important;
  /* margin-top: 48px !important; */
}

/* .container-fluid {
  padding-top: 60px !important;
} */


/* font weight & font size */
h2 {
  font-weight: 700; 
  font-size: 24px;
}
p {
  font-weight: 400; 
  font-size: 18px;
}

.small-text {
  font-weight: 100 !important; 
}

/* links */
a {
  color: #006adc;
  text-decoration: none;
  background-color: transparent;
}

.pt-section {
  padding: 130px 24px 0 24px;
}

@media (max-width: 768px) {
  .pt-section {
    padding: 60px 24px 0 24px;
  }
}

























































